.popover-container {
    position: fixed;
    top: 0;
    right: -33%;
    height: 100%;
    width: 33%;
    background-color: #588157;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s, right 1s;
    padding: 20px;
    color: #D8D4F2;
}

.info-button {
    border-radius: 50%;
    width: 2em;
}
